- @courses = newest_courses
- @courses.each do |course|
	
	.small-12.large-3.column
		%ul.pricing-table.small-12.large-12
			%li.title= course.title
			%li.description.text-left= course.description
			%li.bullet-item users
			%li.cta-button= link_to "View", course, class: "button tiny"
	/ .small-12.large-3.column.panel
	/ 	%h4.small-12.large-12= course.title
	/ 	%p.small-12.large-12= course.description