- provide(:title, 'Monrails')


%h1.small-11.large-12.text-center Welcome to Monrails
.small-12.large-12
	%h2.small-12.large-12.text-center.subheader Newest Courses
	= render 'static_pages/newest_courses'

.small-12.large-12
	%h2.small-12.large-12.text-center.subheader Popular Courses
	= render 'static_pages/popular_courses'