= form_for(current_user.profile_user.new, html: {class: "small-2 large-2 large-offset-10 column"}) do |f|
	= render 'shared/error_messages', object: f.object
	= f.hidden_field :course_id, value: @course.id
	= f.submit "Register", class: "button"