%li.small-12.large-12.column

	- if current_user.admin? && !current_user?(user)
		= link_to user.name, user 
		| #{ link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" }}

	- else
		= link_to user.name, user 