.small-11.small-offset-1.large-5.large-offset-3
	.small-12.large-12= video_tag @video.picture.url, controls: true, size: "600x550"

	%p
	.small-12.large-9.large-offset-6= link_to "back", @video.course, class: "button alert"