.small-12.large-3.column
	%ul.pricing-table.small-12.large-12
		%li.title= course.title
		%li.description.text-left= course.description
		%li.bullet-item users
		%li.cta-button= link_to "View", course, class: "button tiny"